<h2>Merci !</h2>

<div class="main-content">
	<p>Votre paiement s'est bien effectué. Vous pouvez désormais profitez pleinement de nos services.</p>
	<p>
		<%= link_to "Connectez-vous", login_path() %>
	</p>
</div>