<h1>Subscription#show</h1>

Verifiez vos informations avant de procéder au paiement de l'abonnement

<p><%= @subscription.team.nom %></p>

<p><%= @subscription.plan.nom %></p>

<p><%= @subscription.plan.price_with_decimal %> € </p>

<p><%= @subscription. %></p>
